.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    width: 300px;
    height: 300px;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: slategray;
}

.invader {
    background-color: tomato;
    border-radius: 10px;
}

.boom {
    background-color: red;
}

.laser {
    background-color: lime;
}